<!-- Fixed navbar -->
<nav class="navbar navbar-expand-sm navbar-dark bg-dark" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggler" aria-controls="navbarNav" aria-expanded="false" data-toggle="collapse" data-target="#collapseContent">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse show navbar-collapse" id="collapseContent">
            <ul class="nav navbar-nav">
                <li class="navbar-item"><a class="nav-link" href={{ site.url }}>HOME</a></li>
                <li class="navbar-item"><a class="nav-link" href={{ site.url }}/about>ABOUT</a></li>
                <li class="navbar-item"><a class="nav-link" href={{ site.url }}/extras>EXTRAS</a></li>
                <li class="navbar-item"><a class="nav-link" href={{ site.url }}/archive>ARCHIVE</a></li>
                <li class="navbar-item"><a class="nav-link" href={{ site.url }}/001>FIRST PAGE</a></li>
            </ul>
        </div>
    </div>
</nav>
