<!-- Fixed navbar -->
{%- assign latest_post = site.categories.page[0] -%}
<nav class="navbar navbar-expand-sm navbar-dark bg-dark" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggler" aria-controls="navbarNav" aria-expanded="false" data-toggle="collapse" data-target="#collapseContent">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse show navbar-collapse" id="collapseContent">
            <ul class="nav navbar-nav">
                <li class="navbar-item"><a class="nav-link" href={{ site.url }}>HOME</a></li>
                <li class="navbar-item"><a class="nav-link" href={{ site.url }}/about>ABOUT</a></li>
                <li class="nav-item dropdown bg-dark">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">READ</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href={{site.url}}/read/{{ latest_post.number}}>Latest page</a>
                        <a class="dropdown-item" href={{ site.url }}/read/1>First page</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href={{ site.url }}/archive>Archive</a>
                    </div>
                  </li>
            </ul>
        </div>
    </div>
</nav>
